<div *ngIf="actor; else noSession">
    <h2>{{ actor }}</h2>

    <div *ngIf="loading; else balanceList">
        <p>[ Loading... ]</p>
    </div>

    <ng-template #balanceList>
            <div *ngFor="let balance of balances">
                <div class="balanceDisplay">
                    {{ balance.amount.formatted }} {{ balance.token.symbol }}
                </div>
            </div>
    </ng-template>

    <app-expandable-group>
        <app-expandable>
            <div closedHeader><p>Closed 1</p></div>
            <div openHeader><p>Opened 1</p></div>
            <div body><p>Content for Expandable 1</p></div>
        </app-expandable>

        <app-expandable>
            <div closedHeader><p>Closed 2</p></div>
            <div openHeader><p>Opened 2</p></div>
            <div body><p>Content for Expandable 2</p></div>
        </app-expandable>

        <app-expandable>
            <div closedHeader><p>Closed 3</p></div>
            <div openHeader><p>Opened 3</p></div>
            <div body><p>Content for Expandable 3</p></div>
        </app-expandable>
    </app-expandable-group>


    <br>
    <button class="btn" (click)="refreshBalances()">Refresh Balances</button>
</div>

<ng-template #noSession>
    <p>No active session. Please log in first.</p>
</ng-template>