.token-balance {
    display: flex;
    align-items: center;
    padding: 5px 0;
    font-weight: bold;
}

.refresh{
    color: var(--c-accent-0);
}

.balance-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}