<div *ngIf="sessionService.currentSession?.actor; else noSession">
    <h2>{{ sessionService.currentSession.actor }}</h2>

    <div *ngIf="loading; else balanceList">
        <p>[ Loading... ]</p>
    </div>

    <ng-template #balanceList>
            <div *ngFor="let balance of balances">
                <div class="balanceDisplay">
                    {{ balance.amount.formatted }} {{ balance.token.symbol }}
                </div>
            </div>
    </ng-template>

    <br>
    <button class="btn" (click)="refreshBalances()">Refresh Balances</button>
</div>

<ng-template #noSession>
    <p>No active session. Please log in first.</p>
</ng-template>