@use 'mixin' as *;

:host {
    @include page;
}

.p-wallet {
    width: 100%;
    // en resoluciones mayores de 800px debería tener un max-width de calc(770px)
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__header {
        @include page-header;
        &-title {
            @include text-title;
        }
        &-subtitle {
            @include text-subtitle;
        }
    }
    &__loading {
        @include text-subtitle;
        color: var(--c-accent-0);
    }
    &__group {
        &-expandible {

        }
    }

    &__balance {
        &-head {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            &--closed {

            }

            &--open {

            }
        }
        &-body {

        }
    }

    &__refresh {
        @include hyperlink;
        margin-top: 15px;
        color: var(--c-accent-0);
        &:hover{
            color: var(--c-foreground-2);
        }
    }
}
