<!-- src/app/components/bet-ticket-ui/bet-ticket-ui.component.html -->
<div class="c-bet-ticket">
    <h2 class="c-bet-ticket__header">Place Your Bet</h2>
    <p class="c-bet-ticket__form-title"> Race #{{ raceId }}</p>
    <p class="c-bet-ticket__form-title"> {{actor}}</p>
    <p class="c-bet-ticket__form-title">
        Total in pool:
        {{ poolService.manager.getPool(raceId)?.total$ | async }}
    </p>
    <br>

    <form class="c-bet-ticket__form" (ngSubmit)="confirm()">
        <div class="c-bet-ticket__input-container">
            <label class="c-bet-ticket__form-title" for="pick">Winner Horse</label>
            <input
                id="pick"
                name="pick"
                type="number"
                class="c-bet-ticket__form-input"
                [(ngModel)]="pick"
                placeholder="from 0 to 3"
            />
        </div>

        <div class="c-bet-ticket__input-container">
            <label class="c-bet-ticket__form-title" for="amount">Bet Amount</label>
            <input
                id="amount"
                name="amount"
                type="number"
                min="0"
                class="c-bet-ticket__form-input"
                [(ngModel)]="amount"
                placeholder="$$$"
            />
        </div>

        <div class="c-bet-ticket__input-buttons">
            <button
                type="submit"
                class="c-bet-ticket__form-button c-bet-ticket__form-button--confirm"
            >
                Confirm
            </button>
        </div>
    </form>
</div>
