.c-expandable {
    width: 95vw;
    max-width: 1000px;
    border: 1px solid var(--c-background-3);
    border-radius: 8px;
    overflow-y: hidden;
    transition: all 0.2s;

    &--expanded {
        box-shadow: var(--c-shadow-1);
    }

    &__header {
        $header: &;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 5px 15px;
        background-color: var(--c-background-1);
        cursor: pointer;
        user-select: none;
        transition: background-color 0.2s ease;

        &:hover,
        &:active {
            background-color: var(--c-background-0);
            // color: var(--c-accent-0);
        }

        &--expanded {
            background-color: var(--c-background-0);
            color: var(--c-accent-0);
            font-weight: bold;

            &:hover,
            &:active {
                background-color: var(--c-background-1);
            }
        }
    }

    &__body {
        background-color: var(--c-background-0);
        border-top: 1px solid var(--c-background-3);
        padding: 0px 0px;
        transition: 0.3s ease;

        &--expanded {
            padding: 6px;
            padding-bottom: 10px;
        }
    }

}


