.c-expandable {
    font-size: 8pt;
    border: 1px solid var(--c-background-3);
    border-bottom: none;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
    transition: all 0.2s;

    &--expanded {
        box-shadow:none;
    }

    &__header {
        $header: &;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 0px 15px;
        background-color: var(--c-background-0);
        cursor: pointer;
        user-select: none;
        transition: background-color 0.2s ease;

        &:hover,
        &:active {
            background-color: var(--c-background-0);
            color: var(--c-accent-0);
        }

        &--expanded {
            background-color: var(--c-background-0);
        }
    }

    &__body {
        overflow: auto;
        background-color: var(--c-background-0);
        border-top: 1px solid var(--c-background-3);
        padding: 0px 12px;
        transition: 0.3s ease;

        &--expanded {
            padding: 6px 12px;
            max-height: none;
        }
    }

}


