.expandable-container {
    border: 1px solid var(--c-background-3);
    border-radius: 8px;
    overflow: hidden;
    min-width: 360px;
    transition: all 0.3s ease-in-out;

    &.expanded {
        box-shadow: var(--c-shadow-1);
        border: 1px solid var(--c-accent-0);


        .header {
            background-color: var(--c-background-1);
            color: var(--c-accent-0);
        }


    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: var(--c-background-1);
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--c-background-1);
        color: var(--c-accent-0);

        .arrow {
            color: var(--c-accent-0);
        }

    }
}

.arrow {
    font-size: 14px;
    color: var(--c-foreground-1);
}

.body {
    overflow: hidden;
    background-color: var(--c-background-1);
    padding: 0 15px;
    border-top: 1px solid var(--c-background-3);
    transition: padding 0.3s ease;

    &.expanded {
        padding: 15px;
        padding-bottom: 40px;
    }
}
