<div class="c-expandable" [ngClass]="{ 'c-expandable--expanded': isOpen }" [id]="'expandable-' + expandableId">
    <div class="c-expandable__header" [ngClass]="{ 'c-expandable__header--expanded': isOpen }" (click)="toggleComponent()">
        <ng-container *ngIf="!isOpen; else openHeader">
            <ng-content select="[closedHeader]"></ng-content>
        </ng-container>
        <ng-template #openHeader>
            <ng-content select="[openHeader]"></ng-content>
        </ng-template>
    </div>
    <div class="c-expandable__body" [ngClass]="{ 'c-expandable__body--expanded': isOpen }" [style.maxHeight]="isOpen ? '2000px' : '0'">
        <ng-content select="[body]"></ng-content>
    </div>
</div>
