<div class="p-races">
    <div class="p-races__title">
        Race ID: {{ ongoingID$ | async }}
    </div>
    <div class="p-races__subtitle">
        Race Distance: {{ ((winPos$ | async) ?? 0) / 10 }}m
    </div>
    <br>

    <div class="p-races__top">
        <!-- always show the canvas -->
        <ng-container *ngIf="showCanvas">
            <app-phaser-canvas></app-phaser-canvas>
        </ng-container>
    </div>

    <div class="p-races__bottom">
        <app-ongoing-list-ui></app-ongoing-list-ui>
    </div>

    <div class="p-races__subtitle">
        <button class="p-races__button" (click)="isModalOpen = true">Bet Now</button>
    </div>
    <app-window-container
    *ngIf="isModalOpen"
    (close)="isModalOpen = false"
    >
        <p class="p-races__subtitle">bet-ticket-ui</p>
    </app-window-container>
</div>
