@use 'mixin' as *;

:host {
    @include page;
}

.p-races {
    &__title {
        @include text-title;
    }

    &__subtitle {
        @include text-subtitle;
    }

    &__group {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__live-label {
        color: red;
        animation: blink 1s step-start 0s infinite;
    }

    @keyframes blink {
        50% { opacity: 0; }
    }
}
