@use 'mixin' as *;

:host {
    @include page;
}

.p-races {
    &__title {
        @include text-title;
    }

    &__subtitle {
        @include text-subtitle;
    }

    &__group {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;


        &-left{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;
            min-height: 50px;
        }

        &-arrow{
            font-size: 10pt;
        }

        &--open{

        }
    }

    &__pre-label {
        color: var(--c-success-0);
    }

    &__live-label {
        color: var(--c-alert-0);
        animation: blink 1s step-start 0s infinite;
    }

    @keyframes blink {
        50% { opacity: 0; }
    }
}
