<div class="p-races">
    <div class="p-races__title">
        Races
    </div>
    <div class="p-races__subtitle">
        Live Races (Excludes Completed)
    </div>
    <br>

    <app-expandable-group class="p-races__group">
        <app-expandable
            class="p-races__expandable"
            *ngFor="let raceId of visibleRaceIds"
            [expandableId]="'race-' + raceId"
            [variant]="1"
            (open)="expanded[raceId] = true"
            (close)="expanded[raceId] = false"
        >
            <!-- Closed Header -->
            <div closedHeader class="p-races__header">
                <div class="p-races__header-left">
                    <strong>Race #{{ raceId }} |</strong>
                    {{ getDistance(raceId) }}m |
                    <ng-container [ngSwitch]="true">
                        <ng-container *ngSwitchCase="raceStates[raceId] === 'pre'">
                            <span class="p-races__pre-label">⏱ {{ countdowns[raceId] }}s</span>
                        </ng-container>
                        <ng-container *ngSwitchCase="raceStates[raceId] === 'post'">
                            <span class="p-races__live-label">FINISHED</span>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            <span class="p-races__live-label">LIVE</span>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="p-races__header-arrow">&#x25BC;</div>
            </div>

            <!-- Open Header -->
            <div openHeader class="p-races__header p-races__header--open">
                <div class="p-races__header-left">
                    <strong>Race #{{ raceId }}</strong> |
                    {{ getDistance(raceId) }}m |
                    <ng-container [ngSwitch]="true">
                        <ng-container *ngSwitchCase="raceStates[raceId] === 'pre'">
                            <span class="p-races__pre-label">⏱ {{ countdowns[raceId] }}s</span>
                        </ng-container>
                        <ng-container *ngSwitchCase="raceStates[raceId] === 'post'">
                            <span class="p-races__live-label">FINISHED</span>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            <span class="p-races__live-label">LIVE</span>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="p-races__header-arrow">&#x25B2;</div>
            </div>

            <!-- Body -->
            <div
                body
                *ngIf="expanded[raceId]"
                class="c-expandable__body c-expandable__body--expanded"
            >
                <app-ongoing-race [raceId]="raceId"></app-ongoing-race>
            </div>
        </app-expandable>
    </app-expandable-group>
</div>
