@use 'mixin' as *;

:host {
    @include page;
}

.c-horse-race {
    @include container-border;

    &__title {
        @include text-title;
    }

    &__subtitle {
        @include text-subtitle;
    }

    &__button {
        @include button-0;
    }

    &__horse-track {
        margin-bottom: 1rem;

        label {
            @include text-small;
            display: block;
            margin-bottom: 0.25rem;
            font-weight: bold;
        }

        input[type='range'] {
            width: 100%;
            height: 6px;
            background: var(--c-background-4);
            border-radius: 3px;
            appearance: none;
            pointer-events: none;

            &::-webkit-slider-thumb {
                appearance: none;
                width: 35px;
                height: 35px;
                background: url('/assets/horse-head.png') no-repeat center center;
                background-size: contain;
                border: none;
                cursor: default;
            }

            &::-moz-range-thumb {
                width: 35px;
                height: 35px;
                background: url('/assets/horse-head.png') no-repeat center center;
                background-size: contain;
                border: none;
                cursor: default;
            }
        }
    }

    &__race-result{
        @include container-border;
        background-color: var(--c-background-0);
    }
}
