<div class="c-horse-race">
    <div class="c-horse-race__title">Current Race</div>
    <div class="c-horse-race__subtitle">Race Distance: {{ finalPosition }}m</div>
    <br />

    <div *ngFor="let horse of horses" class="c-horse-race__horse-track">
        <label>Horse {{ horse.index }} — {{ horse.position }}m</label>
        <br>
        <input
            type="range"
            [min]="0"
            [max]="finalPosition"
            [value]="horse.position"
            disabled
        />
        <br><br>
    </div>

    <button class="c-horse-race__button" (click)="restartRace()">Restart Race</button>
    <br /><br />

    <div class="c-horse-race__race-result">
        <div class="c-horse-race__subtitle">🏆 Final Standings:</div>
        <ol>
            <li *ngFor="let h of podium">
                Horse {{ h.index }} ({{ h.position }})
            </li>
        </ol>
    </div>
</div>
