<div class="c-preferences">
    <h2>User Preferences</h2>
    <div class="c-preferences__section">
        <h3>Mode</h3>
        <app-toggle [currentState]="(currentState$ | async) ?? 0" (stateChange)="onStateChange($event)">
            <ng-template #stateContent>
                <p>Dark</p>
            </ng-template>
            <ng-template #stateContent>
                <p>Light</p>
            </ng-template>
        </app-toggle>
    </div>
    <div class="c-preferences__section">
        <h3>Hue</h3>
        <div class="c-preferences__theme-selector">
            <p class="c-preferences__btn-default-theme" (click)="setHueTheme('default')">Default</p>
            <p class="c-preferences__btn-igneous-theme" (click)="setHueTheme('igneous')">Igneous</p>
            <p class="c-preferences__btn-emerald-theme" (click)="setHueTheme('emerald')">Emerald</p>
        </div>
    </div>
</div>