<div class="transfer-form">
    <div class="container-available">
        <p class="small">Available:</p>
        <strong>{{ balance.amount.formatted }} {{ balance.token.symbol }}</strong>
    </div>
    <div class="container-input">
        <p class="small" for="recipient">Transfer to:</p>
        <input id="recipient" type="text" [(ngModel)]="recipient" placeholder="Enter user name" />
        <br>
        <p class="small" for="amount">Amount:</p>
        <input id="amount" [(ngModel)]="amount" placeholder="Enter amount" />
    </div>
    <div class="container-transfer">
        <br>
        <br>
        <button class="btn2" (click)="transfer()" [disabled]="!recipient || !amount">Transfer</button>
        <button class="btn2" >Cancel</button>
    </div>
</div>
