<div class="transfer-form">
    <!-- Available Balance Display -->
    <div class="container-available">
        <p class="small">Available:</p>
        <strong>{{ balance.amount.formatted }} {{ balance.token.symbol }}</strong>
    </div>

    <div class="container-input">
        <label class="small" for="recipient">Transfer to:</label>
        <input
            id="recipient"
            type="text"
            [(ngModel)]="recipient"
            (input)="onRecipientChange()"
            placeholder="Enter EOSIO username"
        />

        <p *ngIf="recipient" class="small">
            <span *ngIf="isRecipientDebouncing"> <!-- No message during debounce -->
                &nbsp; <!-- Empty space to keep layout stable if needed -->
            </span>
            <span *ngIf="!isRecipientDebouncing && !isCheckingRecipient && !isRecipientPatternValid" class="invalid">
                ❌ Wrong EOSIO pattern, 1-12 characters (a-z, 1-5)
            </span>
            <span *ngIf="!isRecipientDebouncing && !isCheckingRecipient && isRecipientPatternValid && isSelfTransfer" class="invalid">
                ❌ Cannot send tokens to yourself
            </span>
            <span *ngIf="!isRecipientDebouncing && isCheckingRecipient" class="checking">
                ⏳ Checking account...
            </span>
            <span *ngIf="!isRecipientDebouncing && !isCheckingRecipient && isRecipientValid" class="valid">
                ✅ Verified Account
            </span>
            <span *ngIf="!isRecipientDebouncing && !isCheckingRecipient && !isRecipientValid && isRecipientPatternValid && !isSelfTransfer" class="invalid">
                ❌ Account does not exist
            </span>
        </p>


        <label class="small" for="amount">Amount:</label>
        <input
            id="amount"
            type="string"
            [(ngModel)]="amount"
            (input)="onAmountChange()"
            placeholder="Enter whole number"
            autocomplete="off"
        />
        <p *ngIf="amount !== null" class="small">
            <span *ngIf="isAmountDebouncing">
                &nbsp; <!-- No message during debounce -->
            </span>
            <span *ngIf="!isAmountDebouncing" [ngClass]="isAmountValid ? 'valid' : 'invalid'">
                {{ isAmountValid ? '✅ Amount is within balance' : '❌ Invalid amount' }}
            </span>
        </p>
    </div>

    <!-- Transfer Button -->
    <div class="container-transfer">
        <br>
        <button
            [class]="isRecipientValid && isAmountValid ? 'btn2' : 'unable'"
            (click)="transfer()"
            [disabled]="!isRecipientValid || !isAmountValid || isLoading"
        >
            {{ isLoading ? 'Processing...' : 'Transfer' }}
        </button>
    </div>
</div>
