@use 'mixin' as *;

.c-token-transfer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    &__header {
        display: flex;
        flex-direction: column;
        gap: 5px;
        &-text {
            font-size: 14px;
            color: var(--c-foreground-2);
            margin: 0px;
        }
        &-balance {
            font-weight: bold;
            margin: 0px;
        }
    }

    &__form {
        &-input {
            @include input;
        }
        &-button {
            &--available {
                @include button-2;
            }
            &--unavailable {
                @include button-0;
            }
        }
        &-max {
            color: var(--c-accent-0);

            &:hover{
                color: var(--c-foreground-2);
            }

            &.disable{
                pointer-events: none;
                opacity: 0.3;
                cursor: default;
            }
        }
    }

    &__input-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;
        &-bar {
            display: flex;
            justify-content: space-between;
            align-items: end;
        }
    }

    &__status {
        margin: 0px;
        &-checking {
            @include text-smaller;
        }
        &-valid {
            @include text-smaller;
            color: var(--c-success-0);
        }

        &-invalid {
            @include text-smaller;
            color: var(--c-alert-0);
        }
    }
}

.bar{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

