@use 'mixin' as *;

.c-ongoing-horse-ui {
    @include container-border;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 4px 8px;

    &__info {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__index {
        @include border;
        width: 45px;
        height: 45px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__name {
        font-size: 1rem;
    }

    &__placement {
        font-weight: bold;
        font-size: 0.9rem;
        color: var(--c-accent-0);
    }
}
