@use 'mixin' as *;

.c-ongoing-horse-ui {
    @include border;
    background-color: var(--c-background-0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 4px 8px;

    &__info {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__index {
        @include border;
        width: 45px;
        height: 45px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__name {
        font-size: 1rem;
    }

    &__position {
        min-width: 60px ;
        text-align: right;
    }

    &__placement {
        font-weight: bold;
        font-size: 1.3rem;
        color: var(--c-accent-0);
        min-width: 60px ;
        text-align: right;
    }

    &:hover{
        background-color: var(--c-background-1);
        cursor: pointer;
    }

    &:active{
        border: 1px solid var(--c-accent-1);
    }
}
