<!-- src/app/components/ongoing-horse-ui/ongoing-horse-ui.component.html -->
<div class="c-ongoing-horse-ui">
    <div class="c-ongoing-horse-ui__info">
        <div
            class="c-ongoing-horse-ui__index"
            [style.background]="'hsl(' + (horse.index * 40 % 360) + ', 70%, 35%)'"
        >
            {{ horse.index }}
        </div>
        <div class="c-ongoing-horse-ui__name">
            {{ horse.name }}
        </div>
    </div>

    <!-- racing distance -->
    <ng-container *ngIf="horse.position !== null; else finishedTpl">
        <div class="c-ongoing-horse-ui__position">
            {{ horse.position }}m
        </div>
    </ng-container>

    <!-- final placement -->
    <ng-template #finishedTpl>
        <div class="c-ongoing-horse-ui__placement">
            {{ getOrdinal(placement) }}
        </div>
    </ng-template>
</div>
