@use 'mixin' as *;

.c-ongoing-horse-ui {
    @include container-border;

    label {
        @include text-small;
        display: block;
        margin-bottom: 0.25rem;
        font-weight: bold;
    }
}
