<!-- Normal Navbar -->
<ng-container *ngIf="!isMobileView; else mobileNav">
    <nav>
        <div class="row">
            <a
                routerLink="/"
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <svg width="40" height="40" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <linearGradient id="gradientStroke" x1="0%" y1="0%" x2="100%" y2="0%">
                            <stop offset="0%" stop-color="var(--c-accent-0)" />
                            <stop offset="100%" stop-color="var(--c-accent-0b)" />
                        </linearGradient>
                    </defs>
                    <circle cx="50" cy="50" r="40" stroke="url(#gradientStroke)" stroke-width="15" fill="none" />
                </svg>
            </a>

            <div>
                <a routerLink="/trade" routerLinkActive="active-link">Trade</a>
                <a routerLink="/explore" routerLinkActive="active-link">Explore</a>
                <a routerLink="/pool" routerLinkActive="active-link">Pool</a>
            </div>
        </div>

        <div class="row">
            <a (click)="toggleTheme()" class="theme-toggle" style="cursor: pointer; font-size:26px"
                [innerHTML]="isDarkTheme ? '&#9788;' : '&#9789;'">
            </a>
            <app-login></app-login>
        </div>
    </nav>
</ng-container>

<!-- Mobile Navbar | whidth < 599px -->
<ng-template #mobileNav>
    <nav class="mobile-nav">
        <img src="/public/assets/icons/qr-code.png" alt="QR Code" width="40px"/>

        <app-login></app-login>

        <a class="hamburger" aria-label="Open menu">
            &#9776;
        </a>
    </nav>
</ng-template>
