@use 'mixin' as *;

.c-nabvar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--c-background-1);
    padding: 1rem 2rem;

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }

    &__logo {
        @include hyperlink;
    }

    &__button {
        @include hyperlink;
    }

    &__icon {
        @include icon;
    }

    &--mobile {
        padding: 1rem 1.5rem;
    }
}



