nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--c-background-1);
    padding: 1rem 2rem;

    .row{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }
}

/* Mobile Navigation */
.mobile-nav {
    padding: 1rem 1.5rem;
}


