<!-- Normal Navbar -->
<ng-container *ngIf="!isMobileView; else mobileNav">
    <nav class="c-nabvar">
        <div class="c-nabvar__row">
            <a
                class="c-nabvar__logo"
                routerLink="/"
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <svg width="40" height="40" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <linearGradient id="gradientStroke" x1="0%" y1="0%" x2="100%" y2="0%">
                            <stop offset="0%" stop-color="var(--c-accent-0)" />
                            <stop offset="100%" stop-color="var(--c-accent-0b)" />
                        </linearGradient>
                    </defs>
                    <circle cx="50" cy="50" r="40" stroke="url(#gradientStroke)" stroke-width="15" fill="none" />
                </svg>
            </a>

            <div>
                <a class="c-nabvar__button" routerLink="/trade" routerLinkActive="active-link">Trade</a>
                <a class="c-nabvar__button" routerLink="/explore" routerLinkActive="active-link">Explore</a>
                <a class="c-nabvar__button" routerLink="/pool" routerLinkActive="active-link">Pool</a>
            </div>
        </div>

        <div class="c-nabvar__row">
            <lucide-icon
                [img]="isDarkTheme ? SunIcon : MoonIcon"
                class="c-nabvar__icon"
                (click)="toggleTheme()"
                style="margin-top: 6px;"
            ></lucide-icon>
            <app-login></app-login>
        </div>
    </nav>
</ng-container>

<!-- Mobile Navbar | whidth < 599px -->
<ng-template #mobileNav>
    <nav class="c-nabvar--mobile">
        <lucide-icon [img]="QrIcon" class="c-nabvar__icon"></lucide-icon>

        <app-login></app-login>

        <lucide-icon [img]="MenuIcon" class="c-nabvar__icon"></lucide-icon>
    </nav>
</ng-template>
