@use 'mixin' as *;

.c-nabvar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--c-background-1);
    padding: 1rem 2rem;

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        &--mobile {
            flex-grow: 1;
            justify-content: space-between;
        }
    }

    &__logo {
        @include hyperlink;
    }

    &__button {
        @include hyperlink;
    }

    &__icon {
        @include hyperlink;
        margin-top: 6px;
    }


}



