@use 'mixin' as *;

.c-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--c-background-1);
    padding: 1rem 2rem;

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        &--mobile {
            flex-grow: 1;
            justify-content: space-between;
        }
    }

    &__logo {
        @include hyperlink;
    }

    &__button {
        @include hyperlink;
        margin-left: 10px
    }

    &__icon {
        @include hyperlink;
        @include icon;
        color: var(--c-accent-0);
        &:hover,
        &:active {
            color: var(--c-foreground-2);
        }
    }

    &__dropdown{
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 10px;

        &-option{
            @include hyperlink
        }
    }
}
