@use 'mixin' as *;

:host {
    @include page;
}

.p-ongoing {
    &__title {
        @include text-title;
    }

    &__subtitle {
        @include text-subtitle;
    }

    &__button {
        @include button-0
    }

    &__top{
    }

    &__button{
        @include button-1;
        display: block;
        width: 100%;
        margin-top: 10px;
    }
}
