<div class="c-ongoing-race" [class.mobile]="(isMobileView$ | async)">
    <div class="c-ongoing-race__top">
        <!-- always show the canvas -->
        <ng-container *ngIf="showCanvas">
            <app-phaser-canvas [raceId]="raceId"></app-phaser-canvas>
        </ng-container>
    </div>

    <div class="c-ongoing-race__bottom">
        <app-ongoing-list-ui
            [raceId]="raceId"
            (horseSelected)="canvasCmp.setHorseFollow($event)">
        </app-ongoing-list-ui>
    </div>

    <div class="c-ongoing-race__subtitle">
        <button class="c-ongoing-race__button" (click)="isModalOpen = true">Bet Now</button>
    </div>
    <app-window-container
    *ngIf="isModalOpen"
    (close)="isModalOpen = false"
    >
        <p class="c-ongoing-race__subtitle">bet-ticket-ui</p>
    </app-window-container>
</div>
