<div class="c-ongoing-race" [class.mobile]="(isMobileView$ | async)">
    <div class="c-ongoing-race__top">
        <!-- always show the canvas -->
        <ng-container *ngIf="showCanvas">
            <app-phaser-canvas [raceId]="raceId"></app-phaser-canvas>
        </ng-container>
    </div>

    <div class="c-ongoing-race__bottom">
        <ng-container *ngIf="canvasCmp">
            <app-ongoing-list-ui
            [raceId]="raceId"
            [selectedHorse]="horseFollowSlot"
            [isFollowingHorse]="canvasCmp.followHorse"
            (horseSelected)="canvasCmp.setHorseFollow($event)"
        ></app-ongoing-list-ui>
        </ng-container>
    </div>

    <div class="c-ongoing-race__subtitle">
        <button
            *ngIf="(raceState$ | async) === 'pre'"
            class="c-ongoing-race__button"
            (click)="isModalOpen = true"
        >
            Bet Now
        </button>
    </div>
    <app-window-container
    *ngIf="isModalOpen"
    (close)="isModalOpen = false"
    >
        <app-bet-ticket-ui [raceId]="raceId"></app-bet-ticket-ui>
    </app-window-container>
</div>
