<app-side-container class="c-side-menu" id="mobile-side-menu" side="right">

    <p class="c-side-menu__header">Mobile side-menu head</p>

    <hr class="c-side-menu__separator">

    <a class="c-side-menu__option" routerLink="/trade" routerLinkActive="active-link">
        <lucide-icon [img]="ChartCandlestickIcon"></lucide-icon>
        <p>Trade</p>
    </a>
    <a class="c-side-menu__option" routerLink="/explore" routerLinkActive="active-link">
        <lucide-icon [img]="ListTreeIcon"></lucide-icon>
        <p>Explore</p>
    </a>
    <a class="c-side-menu__option" routerLink="/pool" routerLinkActive="active-link">
        <lucide-icon [img]="CoinsIcon"></lucide-icon>
        <p>Pool</p>
    </a>

    <hr class="c-side-menu__separator">

    <a class="c-side-menu__option" routerLink="/wallet" routerLinkActive="active-link">
        <lucide-icon [img]="WalletIcon"></lucide-icon>
        <p>Wallet</p>
    </a>

    <a class="c-side-menu__option" routerLink="/preferences" routerLinkActive="active-link">
        <lucide-icon [img]="SettingsIcon"></lucide-icon>
        <p>Preferences</p>
    </a>

    <a class="c-side-menu__option" routerLink="/accounts" routerLinkActive="active-link">
        <lucide-icon [img]="UsersIcon"></lucide-icon>
        <p>Accounts</p>
    </a>

    <a class="c-side-menu__option" routerLink="/" routerLinkActive="active-link" (click)="logout()">
        <lucide-icon [img]="LogoutIcon"></lucide-icon>
        <p>Logout</p>
    </a>

</app-side-container>
