<app-side-container id="mobile-side-menu" side="right">
    <p class="header">Mobile side-menu head</p>
    <hr class="wide">
    <a class="option" (click)="close()">
        <lucide-icon [img]="WalletIcon"></lucide-icon>
        <p>option A</p>
    </a>
    <a class="option" (click)="close()">
        <lucide-icon [img]="UsersIcon"></lucide-icon>
        <p>option B</p>
    </a>
    <a class="option" (click)="close()">
        <lucide-icon [img]="OmegaIcon"></lucide-icon>
        <p>option C</p>
    </a>
    <hr class="wide">
    <a class="option" (click)="close()">
        <lucide-icon [img]="LogoutIcon"></lucide-icon>
        <p>Logout</p>
    </a>
</app-side-container>
