<nav *ngIf="isMobileView" class="c-races-menu">
    <div routerLink="/races" routerLinkActive="active" class="c-races-menu__item">
        <img class="c-races-menu__icon" src="assets/game-img/gold-race.png" alt="Races"/>
        <span class="c-races-menu__txt">{{ 'PAGES.RACES.NAME' | translate }}</span>
    </div>
    <div routerLink="/completed" routerLinkActive="active" class="c-races-menu__item">
        <img class="c-races-menu__icon" src="assets/game-img/gold-trophy.png" alt="Completed" />
        <span class="c-races-menu__txt">{{ 'PAGES.COMPLETED.NAME' | translate }}</span>
    </div>
    <div routerLink="/bets" routerLinkActive="active" class="c-races-menu__item">
        <img class="c-races-menu__icon" src="assets/game-img/gold-horseshoe.png" alt="Bets" />
        <span class="c-races-menu__txt">{{ 'PAGES.BETS.NAME' | translate }}</span>
    </div>
</nav>
