@use 'mixin' as *;

.c-races-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--c-background-2);
    border-top: 1px solid var(--c-background-4);
    padding: 5px 10px;
    z-index: 90;

    &__item {
        @include hyperlink;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        padding: 5px 20px;
        color: var(--c-foreground-2);
        transition: 0.5s;

        &.active{
            color: var(--c-accent-0);
        }
    }

    &__icon {
        width: 26px;
        height: 26px;
    }

    &__txt {
        @include text-small;
    }
}
