/* Global base styles here */
body {
        margin: 0;
        font-family: sans-serif;
        color: var(--c-foreground-1);
        background-color: var(--c-background-0);
        height: 100vh;
}

svg.lucide_icons{
        width: 25px;
        stroke-width: 1.5;
}

/* Only apply when inside <div class="c-phaser-canvas">… to overide the default expandable style from a global scope*/
.c-phaser-canvas {
    /* === shrink header padding, text size, and make text weight “light” === */
    .c-expandable__header {
        padding: 1px 10px !important;
        font-size: 7pt     !important;
        color: var(--c-foreground-2)!important;
        background-color: var(--c-background-0)!important;


        &--expanded {
            padding: 2px 10px !important;
            font-size: 7pt     !important;
            font-weight: 300   !important;
        }
    }

    .c-expandable__header-arrow {
        font-size: 10px !important;
        color: var(--c-accent-0) !important;
    }

    /* === force bottom corners of the container to be square === */
    .c-expandable {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-bottom: 0px solid black !important;

        /* === when expanded, override border color to var(--c-background-2) === */
        &--expanded {
            border: 2px solid var(--c-background-2) !important;
        }
    }

    .c-expandable__body {

        &--expanded {
            padding: 10px !important;
        }
    }
}
