/* Global base styles here */
body {
    margin: 0;
    font-family: sans-serif;
    color: var(--c-foreground-1);
    background-color: var(--c-background-0);
    height: 100vh;
}

svg.lucide_icons{
    width: 25px;
    stroke-width: 1.4;
}