.side-container-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: rgba(0, 0, 0, 0);
    transition: 0.2s ease-out;
    z-index: 99;

    &.open {
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(3px);
        pointer-events: auto;
    }
}

.side-container {
    position: fixed;
    top: 0;
    width: 60%;
    height: 100%;
    background: var(--c-background-0);
    border: 1px solid var(--c-background-3);
    padding: 20px 40px;
    transition: transform 0.5s ease-out;
    z-index: 100;


    &.right {
        right: 0;
        transform: translateX(100%);
        border-radius: 20px 0px 0px 0px;
    }

    &.left {
        left: 0;
        transform: translateX(-100%);
        border-radius: 0px 20px 0px 0px;
    }

    &.open {
        transform: translateX(0);
    }
}
