<!-- bet-pick-ui.component.html -->
<div class="c-bet-pick-ui">
    <app-drop-down>
        <!-- show computed label -->
        <div dropdown-button class="c-bet-pick-ui__box">
            <p class="c-bet-pick-ui__text">{{ selectedLabel }}</p>
        </div>

        <!-- list options -->
        <div dropdown-body class="c-bet-pick-ui__menu-body">
            <p
                *ngFor="let opt of options"
                (click)="onSelect(opt.slot)"
                [class.selected]="opt.slot === selected"
            >
                {{ opt.label }}
            </p>
        </div>
    </app-drop-down>
</div>
