<!-- src/app/components/bet-pick-ui/bet-pick-ui.component.html -->
<div class="c-bet-pick-ui">
    <app-drop-down>
        <!-- button shows current horse index -->
        <div dropdown-button class="c-bet-pick-ui__box">
            <div
                class="c-bet-pick-ui__index"
                [style.background]=" getColor(selected!) "
            >
                {{ getSelectedHorseIndex() }}
            </div>
        </div>

        <!-- dropdown list: show each horse with index, name, odd -->
        <div dropdown-body class="c-bet-pick-ui__menu-body">
            <div
                *ngFor="let opt of options$ | async"
                class="c-bet-pick-ui__item"
                (click)="onSelect(opt.horse.slot)"
                [class.selected]="opt.horse.slot === selected"
            >
                <div
                    class="c-bet-pick-ui__item-index"
                    [style.background]=" opt.color "
                >
                    {{ opt.horse.horse.index }}
                </div>
                <div class="c-bet-pick-ui__item-name">
                    {{ opt.horse.horse.name }}
                </div>
                <div class="c-bet-pick-ui__item-odd">
                    {{ opt.odd | number:'1.2-2' }}
                </div>
            </div>
        </div>
    </app-drop-down>
</div>
