<!-- src/app/components/ongoing-list-ui/ongoing-list-ui.component.html -->
<div class="c-ongoing-list-ui" [class.mobile]="isMobileView">
    <div
        #horseTrack
      *ngFor="let s of standings; trackBy: trackByHorse"
        class="c-ongoing-horse-wrapper"
        [attr.data-index]="s.horse.index"
    >
        <app-ongoing-horse-ui
            [horse]="s.horse"
            [placement]="s.placement"
            [finalPosition]="finalPosition"
        ></app-ongoing-horse-ui>
    </div>
</div>
