@use 'mixin' as *;

.c-ongoing-list-ui {
    display: flex;
    flex-direction: row;

    &.mobile {
        flex-direction: column;  // mobile override
    }

    &__subtitle {
        @include text-subtitle;
    }
}

.c-ongoing-horse-wrapper {
    will-change: transform;
}
