/* src/app/components/phaser-canvas/phaser-canvas.component.scss */
@use 'mixin' as *;


.c-phaser-canvas{
    max-width: 1000px;
    &.mobile {
    }

    &__phaser-container {
        @include border;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--c-background-4);
        overflow: hidden;
    }

    &__sliders-container{
        display: flex;
        flex-direction: row;
        gap: 10px;

        &.mobile {
            flex-direction: column;
        }
    }

    &__slider{
        display: flex;
        justify-content: left;
        align-items: center
    }

    label{
        @include text-smaller;
    }

    input[type="range"] {
        @include input-range;

        & {
            margin: 10px;
            width: 60px;
        }
    }

    input[type="checkbox"] {
        @include input-checkbox;
    }
}
