<div class="c-phaser-canvas" [class.mobile]="(isMobileView$ | async)">
    <app-expandable expandableId="sliders-expandable" [variant]="2" class="c-phaser-canvas__sliders-container">
        <div closedHeader>
            <p>Canvas Settings</p>
        </div>
        <div openHeader>
            <p>Close Settings</p>
        </div>
        <div body>
            <div
                class="c-phaser-canvas__sliders-container"
                [class.mobile]="(isMobileView$ | async)"
            >
                <div class="c-phaser-canvas__slider">
                    <label for="opacitySlider">
                        Marker Opacity: {{ markerOpacity }}
                    </label>
                    <input
                        type="range"
                        id="opacitySlider"
                        min="0"
                        max="1"
                        step="0.2"
                        [(ngModel)]="markerOpacity"
                    />
                </div>
                <div class="c-phaser-canvas__slider">
                    <label for="lightnessSlider">
                        Filter Lightness: {{ lightnessValue }}
                    </label>
                    <input
                        type="range"
                        id="lightnessSlider"
                        min="0"
                        max="0.4"
                        step="0.05"
                        [(ngModel)]="lightnessValue"
                    />
                </div>
                <div class="c-phaser-canvas__slider">
                    <label>Mute Sounds</label>
                    <input type="checkbox" [(ngModel)]="isMuted" />
                </div>
            </div>
        </div>
    </app-expandable>

    <div class="c-phaser-canvas__canvas-wrapper">
        <div
            #phaserContainer
            class="c-phaser-canvas__phaser-container"
            [class.mobile]="(isMobileView$ | async)"
        ></div>

        <div
            class="c-phaser-canvas__canvas-input"
            >
            <div class="c-phaser-canvas__placement-controls">
                <button
                    type="button"
                    (click)="setPlacementFollow(3)"
                    [class.selected]="!followHorse && placementFollow === 3"
                    aria-label="Follow last"
                >&larr;</button>
                <button
                    type="button"
                    (click)="setPlacementFollow(0)"
                    [class.selected]="!followHorse && placementFollow === 0"
                    aria-label="Follow 1st"
                >&rarr;</button>
            </div>
        </div>
    </div>
</div>
