/* src/app/components/phaser-canvas/phaser-canvas.component.scss */
@use 'mixin' as *;


.c-phaser-canvas{
    max-width: 1000px;
    &.mobile {
    }

    &__canvas-wrapper {
        position: relative;
    }

    &__phaser-container {
        @include border;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--c-background-4);
        overflow: hidden;
        position: relative;
    }

    &__canvas-input {
        position: absolute;
        bottom: 10px;
        left: 40px;
        transform: translateX(-50%);
        z-index: 10;
        /* start hidden */
        opacity: 0;
        transition:  0.3s;

        &.show {
            opacity: 1;
        }
    }

    &__sliders-container{
        display: flex;
        flex-direction: row;
        gap: 10px;

        &.mobile {
            flex-direction: column;
        }

        p{
            margin: 5px 0px;
            color: var(--c-foreground-2);
        }
    }

    &__slider{
        display: flex;
        justify-content: left;
        align-items: center
    }

    &__placement-controls{
        display: flex;
        align-items: center;
        gap: 0.5rem;

        button {
            width: 1.5rem;
            height: 1.5rem;
            font-size: 1rem;
            color: var(--c-background-1);
            background-color: var(--c-accent-0);
            border: none;
            border-radius: 8px;
        }

        button:disabled {
            opacity: 0.5;
            cursor: not-allowed;
            background-color: var(--c-accent-1);
        }
    }

    label{
        @include text-smaller;
    }

    input[type="range"] {
        @include input-range;

        & {
            margin: 10px;
            width: 60px;
        }
    }

    input[type="checkbox"] {
        @include input-checkbox;
    }
}
